@font-face {
    font-family: 'NixieOneRegular';
    src: url('../fonts/NixieOne-Regular-webfont.eot');
    src: url('../fonts/NixieOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NixieOne-Regular-webfont.woff') format('woff'),
         url('../fonts/NixieOne-Regular-webfont.ttf') format('truetype'),
         url('../fonts/NixieOne-Regular-webfont.svg#NixieOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* GENERAL
*******************/

body
{
	background: url(../images/bg.png);
}

h1, h2 ,h3
{
	font-family: 'NixieOneRegular';
	color: #6f6c6f;
	font-weight:normal;
}

h2
{
	font-size: 28px;
	margin: 0 0 20px 0;
	background: url(../images/header-bg.png) 0 bottom repeat-x;
	line-height: 100%;
}

h2 span
{
	font-size: inherit;
	color: inherit;
	background: white;
	padding:  0 15px 0 0;
}

h4
{
	font-family: 'OpenSansBold';
	color: #454147;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight:normal;
}



p, a
{
	font-family: 'OpenSansRegular';
}

p
{
	color: #6f6c6f;
	font-size: 14px;
	line-height: 1.3;
	margin: 0 0 10px 0
}

a
{
	text-decoration:none;
}

em
{
	color: #6f6c6f;
}

strong
{
	font-family: 'OpenSansBold';
	color: #454147;
	font-weight:normal;
}

/* HEADER
*******************/

header
{
	background: white;
	border-bottom:1px solid #939193;
	-webkit-box-shadow: 1px 1px 0px #dbdadb;
	-moz-box-shadow: 1px 1px 0px #dbdadb;
	box-shadow: 1px 1px 0px #dbdadb;
	overflow:hidden;
	padding: 0 0 20px 0;
	z-index: 10px;
}

.header-wrapper
{
	padding: 0 85px;
	position: relative;
}

.logo
{
	display: inline-block;
	margin: 30px 0 0 0;
	float: left;
}

.login-top
{
	position: absolute;
	top: 0px;
	right: 75px;
}

.login-top li
{
	float: left;
	margin: 0;
}

.login-top a
{
	padding: 8px 10px;
	display:block;
	overflow:hidden;
	font-size: 10px;
	color: #f36f32;
	font-family: 'OpenSansBold';
}

a.blue
{
	background: #146f9c;
	color: white;
	font-family: 'OpenSansLight';
}

a.login
{
	font-weight: bold;
	border-radius: 0 0 0 8px;
}

a.student
{
	border-radius: 0 0 8px 0;
}

nav
{
	float: right;
	display: inline-block;
	overflow: hidden;
	margin: 65px 0 0 0;
}

nav ul
{
	
}

nav li
{
	float: left;
	padding: 0 0 0 55px;
}

nav a
{
	padding: 0 0 10px 0;
	color: #00a1e4;
	display: block;
	font-family: 'OpenSansBold';
}

nav a.current, nav a:hover
{
	border-bottom: 8px solid #f36f32;
	display: block;
	padding: 0 0 5px 0;
}

.selectnav { display: none; }

/* CONTENT
*******************/
section
{
	display: block;
	overflow:hidden;
	padding: 0 0 20px 0;
	margin: 0 0 30px 0;
}


.content
{
	width: 1130px;
	padding: 40px 85px 0 85px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background:white;
	margin: 1px auto 0 auto; /* 1 pixel fix for chrome */
}

.content article
{
	width: 50%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding: 0 0 0 0;
	float: left;
}

article.first
{
	padding: 0 20px 0 0;
}


/* ABOUT BOX
*******************/

.about-box
{
	display: block;
	overflow:hidden;
	background: #454147;
	width: 275px;
	box-sizing:border-box;
	padding: 0;
	text-align:center;
	border-radius: 10px 10px 0 0;
	-webkit-transition: all 0.2s linear;
}

.about-box span
{
	display:block;
	color: white;
	font-family: 'OpenSansSemibold';
	font-size:17px;
	padding: 3px 0;
}

.about-image
{
	background: #8dd8f8;
	width: 100%;
	height: 160px;
	overflow:hidden;
	position:relative;
}

.team
{
	float: left;
}


.ambassadors
{
	margin: 0 auto;
}

.contact-us
{
	float:right;
}


.about-image img
{
	position: absolute;
	left: 50%;
	overflow:hidden;
	top:50%;
	margin: -66px 0 0 -67px;
}

.on
{
	opacity: 0;
	transition: opacity 300ms linear;
	-webkit-transition: opacity 300ms linear;
}

.about-box:hover .on
{
	opacity: 1;
	z-index:10;
}


/* ACCOMPLISHMENT
*******************/

.accomplishment
{
	display:block;
	float: left;
	width: 33.33333333%;
	text-align:center;
	box-sizing:border-box;
	padding: 0;
}

.loans
{
	text-align:left;
}

.paying
{
	text-align:right;
}

/* TESTIMONIAL
*******************/

.testimonial
{
	width: 100%;
	overflow:hidden;
	box-sizing:border-box;
	padding-right: 55px;
	margin: 0 0 25px 0;
}

.testimonialRow
{
	padding-top: 15px;
}

.testimonial h4
{
	margin: 12px 0 0 0;
}

.testimonial img
{
	float: left;
	margin: 0 30px 0 0;
}

.press
{
	padding-top: 15px;
	padding-left: 40px;
}

.press strong
{
	display: block;
	margin: 55px 0 0 0;
}

.press strong a
{
	font-family: 'OpenSansBold';
	color: #f36f32;
}

.press ul li
{
	margin: 15px 0 0 0;
}

.press img
{
	width: auto;
	margin: 0 20px 0 0;
}


.press-logo
{
	display: block;
	padding: 0 0 20px 0;
}

/* FOOTER
*******************/

footer
{
	background:#146f9c;
}

.footer
{
	padding: 20px 85px 0 85px;
}

footer li a
{
	color: white;
	font-family: 'OpenSansLight';
	font-weight:normal;
	font-size: 12px;
}

footer h4
{
	color: #40c8f4;
	margin: 0 0 20px 0;
}

.custom-offset
{
	margin-left: 6.333333%;
}

.social-media ul
{
	float: right;
	display: block;
	overflow:hidden;
}

.social-media li
{
	float: left;
	margin: 0 0 0 23px;
	width: 51px;
	height: 51px;
	position:relative;
}

.social-media img
{
	position:absolute;
	top: 0;
	left: 0;
	-webkit-transition: opacity 300ms linear;
	transition: opacity 300ms linear;
}

.social-media a:hover .on
{
	opacity: 1;
}

.copyright
{
	padding: 20px 85px;
	border-top: 1px solid #35b2de;
}


.copyright span
{
	color: #35b2de;
	line-height: 90%;
	font-size:9px;
}

/* MODAL
*******************/

div.modal
{
	background: #00a1e4;
	padding: 0px;
	overflow:hidden;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.25);
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.reveal-modal-bg 
{
	background: #fff;
	background: rgba(255,255,255,0.8);
	z-index: 40;
	display: none;
	top: 0;
	left: 0;
}

.profile-image
{
	background: #00a1e4;
	display:block;
	border-radius: 10px 0 0 10px;
}

.profile-image img
{
	display: block;
	margin: 30px auto;
}

.profile-copy
{
	padding: 35px 30px;
	background:white;
	position:relative;
}

.profile-copy h4
{
	margin: 5px 0 20px 0;
}

.contact-details
{
	background: url(../images/modal-contact-details.png) no-repeat;
	padding: 0 0 10px 90px;
	margin: 20px 0;
}

.contact-details li, .contact-details strong, .contact-details a 
{
	color: #146f9c;
	margin: 0 0 2px 0;
}


.modal-social-media li
{
	float: left;
	margin: 0 80px 0 0;
	display: block;
	overflow:hidden;
}

.modal-social-media li a
{
	display: block;
	overflow:hidden;
}

/* MEDIA QUERIES
*******************/
@media only screen and (max-width: 1400px)
{
	.row .modal-social-media li
	{
		margin: 0 40px 0 0;
	}
	.profile-image
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	
}


@media only screen and (max-width: 1100px)
{
	.about-box
	{
		width: 80%;
	}
	
	.accomplishment, .loans, .paying
	{
		padding: 20px;
		text-align:center;
	}
	
	.row .modal-social-media li
	{
		margin: 0 20px 0 0;
	}
	
	.profile-image
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.social-media li
	{
		margin: 0 0 0 15px;
	}
}


@media only screen and (max-width: 960px)
{
	.login-top
	{
		display: inline;
		left: 50%;
		margin-left: -160px;
		right:auto;
	}
	
	.logo
	{
		float: none;
		margin: 60px auto 40px auto;
		width: auto;
		overflow:hidden;
		display:block;
	}
	
	.logo img
	{
		margin: 0 auto;
		display: block;
	}
	
	nav
	{
		float: none;
		margin: 0 auto;
		display:block;
		text-align:center;
	}
	
	nav ul
	{
		overflow:hidden;
		display: inline-block;
	}
	
	
	nav li
	{
		padding: 0 10px;
	}
	
	/*Cancel all the padding*/
	.content, .footer, .header-wrapper, .copyright
	{
		padding-right: 15px;
		padding-left: 15px;
	}
	
	
	
	.row .modal-social-media li
	{
		margin: 0 6px 0 0;
	}
	
	.profile-image
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.social-media li
	{
		margin: 0 0 0 10px;
	}
	
}

@media only screen and (max-width: 767px)
{
	.about-box
	{
		width: 50%;
		float: none;
		margin: 20px auto 0 auto;
		border-radius: 10px;
	}
	
	.accomplishment
	{
		width: 100%;
		float: none;
		margin: 40px 0;
	}
	
	.testimonial
	{
		padding: 0px;
	}
	
	section.press
	{
		margin: 0;
		padding: 0;
	}
	
	.custom-offset
	{
		margin-left: 0;
	}
	
	.modal-social-media li
	{
		margin: 0;
	}
	
	.social-media ul
	{
		float: none;
	}
	
	.social-media ul li
	{
		margin: 0 10px 0 0;
	}
	
	.profile-image
	{
		border-radius: 10px 10px 0 0;
	}
	
	
}


@media only screen and (max-width: 600px)
{
	.about-box
	{
		width: 70%;
	}
	
	#menu
	{
		display:none;
	}
	
	.selectnav { display: block; }
	
	.tinynav
	{
		display: block;
	}
}

@media only screen and (max-width: 400px)
{
	.about-box
	{
		width: 90%;
	}
}